@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: "Rubik", serif;
}

.banner {
    background: linear-gradient(90deg, #17ead9, #6078ea);
    color: #fff;
    text-align: center;
    position: relative;
    height: 100vh; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* LOGO */
.logo {
    font-size: 16px; 
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute; 
    left: 60px;
    top: 30px;
}

/* MENU */
nav {
    position: absolute;
    top: 20px;
    right: 30px;
    align-items: center;
}

.Menu {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    gap: 20px;
}

.Menu li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: color 0.3s;
    font-weight: lighter;
}

.singUp a {
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid #ecedee;
    border-radius: 5px;
    transition: 0.3s, color 0.3s;
    color: #6078ea;
}

.singUp a:hover {
    background-color: white;
    color: #6078ea;
}

/* seccion 1 */
.textoBanner {
    text-align: center;
}

.textoBanner h1 {
    font-size: 53px;
    line-height: 1.15;
    font-weight: 300;
    margin-top: 0;
    align-items: center;
}

.textoBanner h2 {
    font-size: 18px;
    font-weight: 300;
    color: #ecedee;
    line-height: 1.5;
}

.textoBanner h2 a {
    color: white;
    text-decoration: none;
}

.textoBanner h2 a:hover {
    color: #ecedee;
}

.textoBanner .video {
    margin-top: 20px;
}

.textoBanner .video a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    transition: all 0.3s ease;
    font-weight: lighter;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.textoBanner .video a i {
    transition: transform 0.35s ease; 
}

.textoBanner .video a:hover {
    transform: translateX(-5px); 
}

.textoBanner .video a:hover i {
    transform: translateX(10px);
}


/* seccion 2 */
.container2 {
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0px;
    max-width: 100%;
}

.container2 {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 110px;
    background: #e9e9e9;
    margin-top: -180px;
    height: 80vh;
  }
  
  .container2 div {
    background-color: white;
    border-radius: 0px;
    padding: 17px;
    width: 270px;
    margin-top: -70px; 
    position: relative; 
    z-index: 8; 
  }
  
  .container2 i {
    font-size: 40px;
    color: #6078ea;
    margin-bottom: 30px;
    padding: 20px 20px 0px 20px;
  }
  

  .container2 h3 {
    font-size: 17px;
    margin: 10px 0;
    color: #3a3a3a;
    font-weight: lighter;
    text-align: justify;
    padding: 0px 20px 0px 20px;
  }
  

  .container2 p {
    font-size: 13px;
    color: #7e8890;
    line-height: 1.8;
    text-align: left;
    font-weight: lighter;
    padding: 0px 20px 25px 20px;
  }
  
  .center-button {
    margin-top: 460px;
    padding: 20px 110px;
    font-size: 15px;
    font-weight: bolder;
    background-color: #6078ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
  }
  
  .center-button:hover {
    background-color: #17ead9 ;
}

/* seccion 3 */
.container3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px 50px 40px;
    background-color: #fff; 
    max-width: 100%; 
    margin: 0 auto; 
}


.textoEstadistica1 {
    width: 100%;
    color: #333; 
    line-height: 1.5;
    padding-right: 10px; 

}

.textoEstadistica1 h2 {
    font-size: 27px;
    font-weight: lighter;
    margin: 50px 0px 0px 155px;
    color: #4d4c4c; 
}

.textoEstadistica1 p {
    margin:10px 20px 20px 160px;
    font-size: 13px;
    font-weight: lighter;
    color: #7e8890;
    line-height: 1.6;
    text-align: justify;
}


.logo-uber img {
    width: 40px; 
    margin: 0px 0px 0px 120px;
}


.person1 img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.imgEstadistica1 img {
    width: 730px; 
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 30px;
}


.imagenTexto1 {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.imgEstadistica1 {
    display: flex;
    justify-content: flex-end; 
    flex: 1;
}

/* seccion 4 */
.container4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 0px 120px 10px;
    background-color: #fff; 
    max-width: 100%;
    margin: 0 auto; 
}


.textoEstadistica2 {
    width: 100%;
    color: #333; 
    line-height: 1.5;
    padding: 0px; 
}

.textoEstadistica2 h2 {
    font-size: 27px;
    font-weight: lighter;
    margin: 30px 135px 0px 35px;
    color: #4d4c4c;
}

.textoEstadistica2 p {
    margin: 10px 200px 10px 40px;
    font-size: 13px;
    font-weight: lighter;
    color: #7e8890;
    line-height: 1.6;
    text-align: justify;
}

.logo-facebook img {
    width: 70px;
    margin: 0px 100px 0px 0px;
}

.person2 img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.imgEstadistica2 img {
    width: 730px; 
    height: auto;
    margin-right: 20px;
}

.imagenTexto2 {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
 /*seccion 5*/
.container5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px 50px 40px;
    background-color: #fff; 
    max-width: 100%; 
    margin: 0 auto;
}

.textoEstadistica3 {
    width: 100%;
    color: #333; 
    line-height: 1.5;
    padding-right: 10px; 
}

.textoEstadistica3 h2 {
    font-size: 27px;
    font-weight: lighter;
    margin: 0px 15px 0px 155px;
    color: #4d4c4c; 
}

.textoEstadistica3 p {
    margin:10px 20px 20px 160px;
    font-size: 13px;
    font-weight: lighter;
    color: #7e8890;
    line-height: 1.6;
    text-align: justify;
}

.logo-twiter img {
    width: 20px; 
    margin: 0px 0px 0px 120px;
}

.person3 img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.imgEstadistica3 img {
    width: 730px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 30px;
}

.imagenTexto3 {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

/* Ajustar la imagen al lado derecho */
.imgEstadistica3 {
    display: flex;
    justify-content: flex-end; /* Alinear la imagen al lado derecho */
    flex: 1;
}

/* seccion 6 */
.container6 {
    padding: 90px 200px 90px 200px;
    background: linear-gradient(-45deg, #5f77f0, #6078ea, #6078ea);
    color: #ecedee;
    text-align: center;
}

.container6 .text-center h2 {
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 15px;
    color: #ecedee;
}

.container6 .text-center p {
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.6;
    margin-bottom: 50px;
}

/* Contenedor de las columnas */
.container6 .info-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
    gap: 0px; /* Espacio entre columnas */
}

/* Columnas individuales */
.container6 .col {
    padding: 0px 10px 30px 0px;
    align-items: center;
}

/* Título e íconos */
.container6 .col h3 {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0px 0px 0px 20px;
    color:#ecedee;
}

.container6 .col h3 i {
    color: #4de0e7; /* Color del ícono */
    font-size: 1.5rem;
}

/* Texto dentro de cada columna */
.container6 .col p {
    font-size: 13px;
    font-weight: lighter;
    text-align: left;
    padding: 0px;
    line-height: 1.8;
    margin: 20px;
    color: #dadada;
}

/* Diseño responsivo */
@media (max-width: 768px) {
    .container6 .text-center h2 {
        font-size: 1.8rem;
    }
    .container6 .col h3 {
        font-size: 1.1rem;
    }
    .container6 .col p {
        font-size: 0.9rem;
    }
}

/*seccion 7*/
.container7 {
    padding: 90px 200px 90px 200px;
    color: #4d4c4c;
    text-align: center;
}

.container7 .text-center2 h2 {
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 15px;
    color: #4d4c4c;
}

.container7 .text-center2 p {
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.6;
    margin-bottom: 50px;
    color: #7e8890;
}

/* Contenedor de las columnas */
.container7 .info-cont2{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
    gap: 0px; /* Espacio entre columnas */
}

/* Columnas individuales */
.container7 .col1 {
    padding: 0px 10px 30px 0px;
    align-items: center;
}

/* Título e íconos */
.container7 .col1 h3 {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0px 0px 0px 20px;
    color:d4c4c;
}

/* Texto dentro de cada columna */
.container7 .col1 p {
    font-size: 13px;
    font-weight: lighter;
    text-align: left;
    padding: 0px;
    line-height: 1.8;
    margin: 20px;
    color: #7e8890;
}

.container7 .col1 a{
    color: #6078ea;
    text-decoration: none;
}

/* Footer Container */
.footer-container {
    background-color: #ecedee;
    display: flex;
    justify-content: space-between;
    padding: 3em 10%;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Footer Section: General Styles */
.footer-section {
    flex: 1;
    padding: 0 20px;
    text-align: left;
}

.footer-section h3 {
    color: #474646;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: lighter;
}

/* About Section */
.footer-section-about p {
    color: #7e8890;
    font-size: 13px;
    line-height: 1.8;
    margin-bottom: 15px;
    font-weight: lighter;
}

.footer-section-about a {
    color: #6078ea;
    text-decoration: none;
    font-size: 12px;
    font-weight: lighter;
}

/* Blog Section */
.footer-section-blog .blog-post {
    display: flex;
    margin-bottom: 15px;
}

.footer-section-blog .blog-post img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.footer-section-blog .blog-post h4 {
    font-size: 14px;
    color: #333;
    margin: 0 0 5px;
    font-weight: lighter;
}

.footer-section-blog .blog-post p {
    font-size: 13px;
    color: #7e8890;
    margin: 0;
    font-weight: lighter;
}

/* Contact Section */
.footer-section-contact p {
    font-size: 13px;
    color: #7e8890;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: lighter;
}

.footer-section-contact i {
    color: #919191;
    margin-right: 10px;
}

/* Footer Bottom */
.footer-bottom {
    text-align: center;
    padding: 20px 0;
    background-color: #ecedee;
}

.footer-bottom p {
    font-size: 12px;
    color: #7e8890;
    margin: 5px 0;
    font-weight: lighter;
}

.footer-bottom a {
    color: #6078ea;
    text-decoration: none;
}

/* Social Icons */
.social-icons a {
    margin: 0 10px;
    font-size: 18px;
    color: #6078ea;
    text-decoration: none;
}